<h1>This is my blog list page</h1>
<div class = 'features'>
	<table style="border: 1px solid #000;">
		<tr>
		<th style="border: 1px solid #000;">ID Post</th>	
		<th style="border: 1px solid #000;">Title of post</th>
		<th style="border: 1px solid #000;">Text of post</th>
		</tr>
	{% for post in get_posts %}
		<tr style="border: 1px solid #000;">
			<td>{{post.id}}</td>
			<td>
				<a href="{% url 'post_details' post.id %}">{{post.title}}</a>
			</td>
			<td>{{post.content}}</td>
			<td> <a href="{% url 'update_post' post.id %}">
			Редактировать</a>
			</td>
			<td>Удалить</td>
		</tr>

	{% endfor %}
	</table>
</div>
